# Global snippets

global !p
from vimsnippets import complete
endglobal

snippet date
`!v strftime("%Y-%m-%d")`
endsnippet

snippet h@ "Mail addresses"
$1`!p snip.rv=complete(t[1], ['hf@bellcom.dk','henrik@rockhopper.dk'])`
endsnippet
