snippet path
{{< path >}}${1:${VISUAL}}{{< /path >}}
endsnippet

snippet code
{{< code ${1} >}}${2:${VISUAL}}{{< /code >}}
endsnippet

snippet cmd
{{< cmd >}}${1:${VISUAL}}{{< /cmd >}}
endsnippet

snippet photo
{{< photo src="/uploads/${1}" title="${2}" thumb="/uploads/thumbnails/${3}" no_responsive="true" >}}
endsnippet
